
@{
    ViewBag.Title = "Adding";
    Layout = "~/Areas/Admin/Views/Shared/_HomeLayout.cshtml";

    var cates = (List<Model.EF.theloaitin>)ViewBag.cates;
}
@section css{  <!-- Bootstrap Color Picker -->
    <link rel="stylesheet" href="~/Asset_Admin/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css">
    <!-- Select2 -->
    <link rel="stylesheet" href="~/Asset_Admin/plugins/select2/css/select2.min.css">

    <link rel="stylesheet" href="~/Asset_Admin/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
    <!-- Bootstrap4 Duallistbox -->
    <link rel="stylesheet" href="~/Asset_Admin/plugins/bootstrap4-duallistbox/bootstrap-duallistbox.min.css">

    <style type="text/css" media="screen">
        .card-block {
            height: 168px;
        }
    </style>
}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Adding Article</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/Admin/Home/Index">Home</a></li>
                        <li class="breadcrumb-item active">Adding Article</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-success">
                        <div class="card-header">
                            <h3 class="card-title">Adding Form</h3>
                        </div>
                        <div class="card-body row">
                            @Html.AntiForgeryToken()
                            <div class="col-md-9">
                                <div class="form-group">
                                    <label for="title">Title</label>
                                    <input type="text" class="form-control" id="title" placeholder="Enter post title" onkeyup="GenSlug(this)" name="title">
                                </div>
                                <div class="form-group">
                                    <label for="slug">Slug</label>
                                    <input type="text" class="form-control" id="slug" placeholder="" name="slug">
                                </div>
                                <div class="form-group">
                                    <label>Tóm tắt</label>
                                    <textarea class="form-control" rows="3" placeholder="Enter ..." name="desc" id="desc"></textarea>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Thumbnail</label>
                                    <input type="file" name="thumbnail" id="thumbnail" accept="image/*" onchange="readURL(event)" style="width: 0.1px; height: 0.1px; opacity: 0; overflow: hidden; position: absolute; z-index: -1;" />
                                    <div class="thumbnail-result mb-1">
                                        <img src="https://d1qbemlbhjecig.cloudfront.net/prod/1.8.0/staticfiles/dist/app/bento-components/profile-grid/media/default-image.jpg?1921528efb1e84f4f11b3513f93b75af" alt="" style="width: 100%;height: auto;object-fit: cover;">
                                    </div>
                                    <label for="thumbnail" class="btn btn-secondary float-right" style="font-weight: unset;">Chọn ảnh</label>
                                </div>
                                <div class="form-group mt-5">
                                    <label>Thể loại</label>
                                    <select class="custom-select" name="theloai_id" id="cateId">
                                        <option selected style="display: none;" value="-1">--Thể loại--</option>
                                        @if (cates.Count > 0)
                                        {
                                            foreach (var item in cates)
                                            {
                                                <option value="@item.id">
                                                    @item.ten
                                                </option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Nội dung</label>
                                    <textarea class="textarea" name="noidung" placeholder="Place some text here" style="width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->

                        <div class="card-footer">
                            <button type="button" onclick="Add()" class="btn btn-primary float-right" style="width: 300px">Submit</button>
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
@section js{
    <!-- Select2 -->
    <script src="~/Asset_Admin/plugins/select2/js/select2.full.min.js"></script>
    <!-- Bootstrap4 Duallistbox -->
    <script src="~/Asset_Admin/plugins/bootstrap4-duallistbox/jquery.bootstrap-duallistbox.min.js"></script>

    <script src="~/Asset_Admin/plugins/inputmask/min/jquery.inputmask.bundle.min.js"></script>
    <!-- date-range-picker -->
    <script src="~/Asset_Admin/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- bootstrap color picker -->
    <script src="~/Asset_Admin/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <!-- Bootstrap Switch -->
    <script src="~/Asset_Admin/plugins/bootstrap-switch/js/bootstrap-switch.min.js"></script>

    <script>
        function readURL(event) {
            if (event.target.files && event.target.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('.thumbnail-result > img').attr('src', e.target.result);
                }

                reader.readAsDataURL(event.target.files[0]); // convert to base64 string
            }
        }
    </script>
    <script>
        $(function () {
            // Summernote
            $('.textarea').summernote()
        })
    </script>
    <!-- Page script -->
    <script>
        $(function () {
            //Initialize Select2 Elements
            $('.select2').select2()

            //Initialize Select2 Elements
            $('.select2bs4').select2({
                theme: 'bootstrap4'
            })

            //Datemask dd/mm/yyyy
            $('#datemask').inputmask('dd/mm/yyyy', { 'placeholder': 'dd/mm/yyyy' })
            //Datemask2 mm/dd/yyyy
            $('#datemask2').inputmask('mm/dd/yyyy', { 'placeholder': 'mm/dd/yyyy' })
            //Money Euro
            $('[data-mask]').inputmask()

            //Date range picker
            $('#reservation').daterangepicker()
            //Date range picker with time picker
            $('#reservationtime').daterangepicker({
                timePicker: true,
                timePickerIncrement: 30,
                locale: {
                    format: 'MM/DD/YYYY hh:mm A'
                }
            })
            //Date range as a button
            $('#daterange-btn').daterangepicker(
                {
                    ranges: {
                        'Today': [moment(), moment()],
                        'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                        'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                        'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                        'This Month': [moment().startOf('month'), moment().endOf('month')],
                        'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                    },
                    startDate: moment().subtract(29, 'days'),
                    endDate: moment()
                },
                function (start, end) {
                    $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'))
                }
            )

            //Timepicker
            $('#timepicker').datetimepicker({
                format: 'LT'
            })

            //Bootstrap Duallistbox
            $('.duallistbox').bootstrapDualListbox()

            //Colorpicker
            $('.my-colorpicker1').colorpicker()
            //color picker with addon
            $('.my-colorpicker2').colorpicker()

            $('.my-colorpicker2').on('colorpickerChange', function (event) {
                $('.my-colorpicker2 .fa-square').css('color', event.color.toString());
            });

            $("input[data-bootstrap-switch]").each(function () {
                $(this).bootstrapSwitch('state', $(this).prop('checked'));
            });

        })
    </script>
    <script src="~/Asset_Admin/js/article.js"></script>
}
