header {
    background-color: #ec5f5f;
    margin-top: 40px;
    /*position: sticky;
    top:20px;
    z-index:999;*/
    nav.navbar {
        .navbar-brand {
            position: absolute;
            top: -16px;
            left: -64px;
            width: 160px;
            height: 78px;
            color: white !important;
            background: #ec5f5f;
            font-size: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 700;
            box-shadow: 10px 4px 12px 1px #9c0000;
        }

        .collapse {
            margin-left: 99px;
            position: relative;

            .navbar-nav {
                .nav-item {
                    .nav-link {
                        font-size: 17px;
                        text-transform: uppercase;
                        color: white;
                        font-weight: 600;
                    }
                }
            }

            form {
                .form-inline {
                    input {
                        border-top-right-radius: 0;
                        border-bottom-right-radius: 0;
                        padding: 7px 12px;

                        &:focus {
                            box-shadow: none;
                            outline: none;
                        }
                    }

                    button {
                        border-top-left-radius: 0;
                        border-bottom-left-radius: 0;
                    }
                }
            }
        }
    }
}
