
<div class="ads-ver-banner">
    <img src="/Asset/Images/verBanner.png" alt="Alternate Text" />
</div>
<div class="ads-ver-banner">
    <img src="/Asset/Images/verBanner.png" alt="Alternate Text" />
</div>
<div class="ads-ver-banner">
    <img src="/Asset/Images/verBanner.png" alt="Alternate Text" />
</div>