main {
    .row {
        .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
            padding: 0;
        }
    }

    #homepage {
        .ads-ver-banner {
            padding-bottom: 10px;
            width: 100%;
            height: auto;
            padding-left: 15px;

            img {
                width: 100%;
                height: auto;
                object-fit: cover;
            }
        }

        .ads-hor-banner {
            margin: 20px 0;
            margin-bottom: 15px;
            width: 100%;
            height: 148px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .best-news-list {
            .row {
                margin: 0;

                .col-md-7 {
                    padding-right: 5px;
                }

                .col-md-5 {
                    padding-left: 5px;
                }
            }

            .best-news-item {
                position: relative;
                margin-bottom: 16px;

                .best-news-item-thumb {
                    position: relative;
                    height: 262px;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .best-news-item-title {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    margin: 0;
                    background: linear-gradient(to bottom,rgba(255,255,255,0) 0,#e34b4b 100%);
                    padding-bottom: 10px;

                    .best-news-item-link {
                        display: block;
                        width: 100%;
                        color: white;
                        padding: 0 15px;
                        display: table-cell;
                        font-size: 21px;
                        font-weight: 700;
                        text-decoration: none;
                        text-shadow: 1px 1px 0 #000;
                    }
                }
            }
        }

        .recent-news-list {
            .recent-news-list-title {
                width: 100%;
                margin: 0;
                background: #c6c5c5;
                height: 35px;

                a {
                    float: left;
                    padding: 0 10px;
                    font-weight: bold;
                    line-height: 35px;
                    background: #d21a32;
                    color: white;
                    text-align: center;
                    text-decoration: none;
                    text-transform: uppercase;
                    font-size: 18px;
                    height: 35px;
                }

                margin-bottom: 15px;
            }

            .recent-news-item {
                display: flex;
                align-items: center;
                margin-bottom: 15px;
                justify-content: space-between;
                border: 1px solid #ededed;
                background: #f4f3f3;

                .recent-news-item-thumb {
                    width: 44%;
                    height: 220px;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .recent-news-item-content {
                    width: 54%;
                    height: 220px;
                    overflow-y: auto;

                    &::-webkit-scrollbar {
                        width: 5px;
                    }

                    &::-webkit-scrollbar-track {
                        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
                    }

                    &::-webkit-scrollbar-thumb {
                        background-color: darkgrey;
                        outline: 1px solid slategrey;
                    }

                    .recent-news-item-title {
                        margin: 0;


                        .recent-news-item-link {
                            font-size: 26px;
                            font-weight: bold;
                            text-decoration: none;
                            color: #393838;
                        }
                    }

                    .recent-news-item-desc {
                        margin: 0;
                        margin-top: 15px;
                    }
                }
            }
        }
    }
}
